
   ng-otp-input 
    {
        text-align: center;
        margin-top: 50px;
    }
.timer
{
    text-align: center;
    width: 100%;
    margin-top: 10px;
    color:gray;
}

.smsText
{
    margin-top: 30px;
   
    padding:20px;
    margin: 5px;
    border:1px solid rgb(0, 174, 255);
}